@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
}

.loginForm {
	margin: 10vh auto;
	display: flex;
	flex-direction: column;
	max-width: 20vh;
}

.loginForm>input {
	margin-bottom: 0.25vh;
	min-height: 3.5vh;
}

.loginForm>input[type='text'],
.loginForm>input[type='password'] {
	padding: 5px;
}

.loginForm>input[type='submit'] {
	background: #666;
	color: #fff;
	border: 0;
}
