@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
}

.loginForm {
	margin-left: 0.25vh;
	margin-top: 0.25vh;
	display: flex;
	flex-direction: column;
	max-width: 20vh;
}

.loginForm>* {
	margin-bottom: 0.25vh;
}
